@charset "utf-8";

.sub_container .inner .title {
  font-family: "NEXON Lv2 Gothic";
  font-size: 36px;
  letter-spacing: -.5px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}

.sub_container .main-img {
  display: block;
  width: 1500px;
  margin: 0 auto;
  margin-bottom: 110px;
}

.sub_container hr {
  display: block;
  margin: 0 auto;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: #008574;
  margin-bottom: 57px;
}

.sub_container .inner > h4 {
  font-family: "Titillium Web";
  font-size: 70px;
  font-weight: 200;
  color: #119786;
  text-align: center;
  margin-bottom: 45px;
}

.sub_container .inner > p {
  font-family: "NEXON Lv2 Gothic";
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -.5px;
  text-align: center;
  margin-bottom: 111px;
}

.sub_container .grid {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 122px;
}

.sub_container .grid article {
  flex: 1 0 50%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 390px;
}

.sub_container .grid article a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 83px 52px;
  box-sizing: border-box;
}

.sub_container .grid article h5 {
  font-family: "NEXON Lv2 Gothic";
  font-size: 35px;
  letter-spacing: -.5px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px;
}

.sub_container .grid article p {
  font-family: "NEXON Lv2 Gothic";
  font-size: 18px;
  height: 70px;
  margin-bottom: 55px;
  letter-spacing: -.5px;
  line-height: 26px;
  color: #ffffff;
}

.sub_container .grid article .more {
  font-family: "NEXON Lv2 Gothic";
  font-size: 15px;
  letter-spacing: -.5px;
  width: 130px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  padding: 16px 0;
  text-align: center;
  color: #ffffff;
}
