@charset "utf-8";
* {
  letter-spacing: 1px;
  outline: unset;
}
.inner {
  width: 1300px;
}

#wrapper {
  overflow: hidden;
}
.sub_container .inner p {
  font-family: "NEXON Lv2 Gothic";
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin-bottom: 80px;
}
.sub_container .inner .title {
  font-family: "NEXON Lv2 Gothic";
  font-size: 36px;
  letter-spacing: -2px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 35px;
}
.sub_container hr {
  display: block;
  margin: 0 auto;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: #008574;
  margin-bottom: 57px;
}

.inner {
}
.inner > ul.tab {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto 60px;
}
.inner > ul.tab::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.inner > ul.tab li {
  float: left;
  width: 14.2857142857%;
  box-sizing: border-box;
  border: 1px solid #dcdcdc;
  border-right: 0;
}
.inner > ul.tab li a {
  display: block;
  text-align: center;
  font-size: 18px;
  color: #282828;
  font-family: "NEXON Lv2 Gothic";
  line-height: 56px;
}
.inner > ul.tab li:last-of-type {
  border-right: 1px solid #dcdcdc;
}
.inner > ul.tab li.on {
  border-color: #008574;
  background: #008574;
}
.inner > ul.tab li.on a {
  font-weight: bold;
  color: #fff;
}

.content {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.section0#metalic {
  min-height: 600px;
  background: url("../img/metalic_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#UrbanViolet {
  min-height: 600px;
  background: url("../img/UrbanViolet_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#UrbanModern {
  min-height: 600px;
  background: url("../img/UrbanModern_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#E-Station {
  min-height: 600px;
  background: url("../img/E-Station_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#Roasting {
  min-height: 600px;
  background: url("../img/Roasting_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#CaramelLatte {
  min-height: 600px;
  background: url("../img/CaramelLatte_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}
.section0#NewAntique {
  min-height: 600px;
  background: url("../img/Newantique_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 100px;
}

.content h4 {
  font-size: 50px;
  padding-top: 170px;
  margin-bottom: 50px;
  line-height: 1;
  font-family: "NEXON Lv2 Gothic";
  position: relative;
  bottom: -50px;
  transition: 0.6s;
  transition-delay: 0.3s;
  opacity: 0;
}
.content h4.white {
  color: #fff;
}
.content h4.black {
  color: #282828;
}
.content span {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: #b958db;
  margin-bottom: 10px;
  font-family: "NEXON Lv2 Gothic";
  position: relative;
  bottom: -50px;
  transition: 0.6s;
  transition-delay: 0.6s;
  opacity: 0;
}
.content p {
  font-size: 18px;
  line-height: 32px;
  color: #282828;
  font-family: "NEXON Lv2 Gothic";
  margin-bottom: 50px;
  position: relative;
  bottom: -50px;
  transition: 0.6s;
  transition-delay: 0.9s;
  opacity: 0;
  font-weight: 500;
}
.content p.white {
  color: #fff;
}
.content p.block {
  color: #282828;
}
.content img {
  margin-bottom: 145px;
  position: relative;
  bottom: -50px;
  transition: 0.6s;
  transition-delay: 1.2s;
  opacity: 0;
}
.content a {
  display: table;
  padding: 15px 40px 15px 75px;
  border: 1px solid #fff;
  background: url("../img/vr_btn.png") no-repeat left 35px center;
  opacity: 0;
  background-size: 33px;
  transition: linear 0.2s;
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: -1px;
}
.content a:hover {
  border-color: #008574;
  background: #008574 url("../img/vr_btn.png") no-repeat left 35px center;
  background-size: 33px;
}

.target-section.active h4 {
  bottom: 0;
  opacity: 1;
}
.target-section.active span {
  bottom: 0;
  opacity: 1;
}
.target-section.active p {
  bottom: 0;
  opacity: 1;
}
.target-section.active a {
  bottom: 0;
  opacity: 1;
}

.section0#metalic h4 {
  padding-top: 120px;
}
.section0#UrbanModern .content span,
.section0#E-Station .content span,
.section0#Roasting .content span,
.section0#CaramelLatte .content span,
.section0#NewAntique .content span {
  color: #d4ad76;
}

.section1 {
  margin-bottom: 120px;
}
.section1 span {
  display: block;
  color: #a67ddd;
  font-weight: 200;
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 95px;
  z-index: 1;
  opacity: 0;
  transition: 0.6s;
  font-family: "Titillium Web";
  transition-delay: 1.2s;
}
.section1 ul::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.section1 ul li {
  float: left;
  width: 32%;
  margin-right: 2%;
}
.section1 ul li:last-of-type {
  margin-right: 0;
}
.section1 ul li img {
  display: block;
  width: 100%;
}

.section1 ul li:first-of-type img {
  margin-top: 140px;
  position: relative;
  opacity: 0;
  transition: 0.6s;
  transition-delay: 0.3s;
}
.section1 ul li:nth-of-type(2) img {
  margin-top: 15px;
  position: relative;
  opacity: 0;
  transition: 0.6s;
  transition-delay: 0.6s;
}
.section1 ul li:last-of-type img {
  margin-top: -50px;
  opacity: 0;
  transition: 0.6s;
  transition-delay: 0.9s;
}

.section1 span.blue {
  color: #4bacc7;
}
.section1 span.green {
  color: #5d875d;
  padding-left: 200px;
}
.section1 span.brown {
  color: #d4ad76;
  padding-left: 200px;
}
.section1 span.caramel {
  color: #d2ae6c;
  padding-left: 100px;
}

.section1.active span {
  opacity: 1;
}
.section1.active ul li:first-of-type img {
  opacity: 1;
}
.section1.active ul li:nth-of-type(2) img {
  opacity: 1;
}
.section1.active ul li:last-of-type img {
  opacity: 1;
}

.slide#metalic_slide {
  min-height: 600px;
  background: url("../img/metalic_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#UrbanViolet {
  min-height: 600px;
  background: url("../img/UrbanViolet_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#UrbanModern {
  min-height: 600px;
  background: url("../img/UrbanViolet_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#E-Station {
  min-height: 600px;
  background: url("../img/E-Station_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#Roasting {
  min-height: 600px;
  background: url("../img/Roasting_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#CaramelLatte {
  min-height: 600px;
  background: url("../img/CaramelLatte_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}
.slide#NewAntique {
  min-height: 600px;
  background: url("../img/Newantique_slide_bg.jpg") no-repeat center;
  background-size: cover;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
}

.slide .rolling_list {
  position: relative;
  top: -140px;
}
.slide .slide_wrap img {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
}
.slide .bx-controls-direction {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide .bx-prev {
  text-indent: -9999px;
  background: url("../img/prev.png") no-repeat center;
  position: absolute;
  left: 0;
  top: calc(50% - 140px);
  transform: translateY(-50%);
  width: 25px;
  height: 50px;
}
.slide .bx-next {
  text-indent: -9999px;
  background: url("../img/next.png") no-repeat center;
  position: absolute;
  top: calc(50% - 140px);
  transform: translateY(-50%);
  right: 0;
  width: 25px;
  height: 50px;
}

.inner .interior_concept {
  margin-bottom: 40px;
}
.inner .interior_concept::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.inner .interior_concept > li {
  float: left;
  width: 49%;
  margin-top: 40px;
  box-sizing: border-box;
}
.inner .interior_concept > li:nth-of-type(2n) {
  margin-left: 2%;
}
.inner .interior_concept > li:first-of-type,
.inner .interior_concept > li:nth-of-type(2) {
  margin-top: 0;
}
.inner .interior_concept > li ol::after {
  content: "";
  display: block;
  visibility: hidden;
  clear: both;
}
.inner .interior_concept > li ol > li {
  float: left;
  max-height: 300px;
}
.inner .interior_concept > li ol > li * {
  font-family: "NEXON Lv2 Gothic";
}
.inner .interior_concept > li ol > li:first-of-type {
  width: 270px;
  background: #f6f6f6;
  box-sizing: border-box;
  padding: 50px 0;
  text-align: center;
}
.inner .interior_concept > li ol > li:first-of-type > span {
  font-size: 12px;
  display: block;
  color: #c1c1c1;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: bold;
}
.inner .interior_concept > li ol > li:first-of-type b {
  display: block;
  font-weight: bold;
  color: #282828;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 30px;
}
.inner .interior_concept > li ol > li:first-of-type p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
}
.inner .interior_concept > li ol > li:first-of-type a {
  display: table;
  border: 1px solid #a0a0a0;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  box-sizing: border-box;
  padding: 15px 35px;
  transition: linear 0.2s;
}
.inner .interior_concept > li ol > li:first-of-type a:hover {
  border-color: #008574;
  color: #fff;
  background: #008574;
  font-weight: bold;
}
.inner .interior_concept > li ol > li:last-of-type {
  float: left;
  width: calc(100% - 270px);
}
.inner .interior_concept > li ol > li:last-of-type img {
  height: 100%;
}
