@charset "utf-8";

body,
html,
#wrapper {
  min-width: 1400px;
}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {
  display: inline-block;
  position: relative;
}
#captcha legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}
#captcha #captcha_img {
  height: 60px;
  border: 1px solid #e9e9e9;
  vertical-align: top;
  padding: 0;
  margin: 0;
  float: left;
}
#captcha #captcha_mp3 {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url('../../../img/captcha2.png') no-repeat;
  background-size: 30px;
  text-indent: -999px;
  border-radius: 3px;
  float: left;
}
#captcha #captcha_icon {
  float: left;
  display: flex;
  flex-flow: column nowrap;
}
#captcha #captcha_reload {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 0;
  background: transparent;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background: url('../../../img/captcha2.png') no-repeat 0 -30px;
  background-size: 30px;
  text-indent: -999px;
  border-radius: 3px;
  float: left;
}
#captcha #captcha_key {
  padding: 0 5px;
  width: 90px;
  height: 60px;
  border: 1px solid #b8c9c2;
  background: #fff;
  font-size: 1.333em;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  vertical-align: top;
  float: right;
}
#captcha #captcha_info {
  display: none;
}
